<h1>Edit Item Details</h1>
 
<%= form_with(model: @item, local: true) do |form| %>
 
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this item from being saved:
      </h2>
      <ul>
          <li>Title cant be blank</li>
	  <li>Price cant be blank</li>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :item_name %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :item_code %><br>
    <%= form.text_area :text1 %>
  </p>
  <p>
    <%= form.label :restaurant_name %><br>
    <%= form.text_area :text2 %>
  </p>
  <p>
    <%= form.label :price %><br>
    <%= form.text_area :text3 %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', del_index_path %>
